@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

/*Inicio barra menú*/
header{    
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;    
    background-color: whitesmoke;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

header a{
    text-decoration: none;
}

header .menu{
    margin-right: 15rem;
} 

header .menu a{
    margin-left: 2rem;
}
/*Fin barra menú*/

.bienvenida{
    padding-top: 8rem;
    margin-left: 25rem;
}

.videos{
    margin: 2rem;
    padding-left: 2rem;
    padding-top: 2rem;   
}

.videos .row{
    padding-bottom: 2rem;
}

.body{
    background-color: #aaaaaa;
    font-family: 'Open Sans', sans-serif;
}

.piePagina{
    background-color: whitesmoke;
    padding: 50px 0px;
    display: flex;
}

